
img {
  height: 200px;
  margin-left: 150px;
  margin-top: 30px;
  position: relative;
}

body {
  text-align: center;
  background-color: yellow;
}

h1, h2, h3 {
  color: white;
  font-size: 50px;
font-family: 'Righteous', cursive;
position: relative;

}
